<a
  onclick="history.back()"
  class="underline font-light hover:opacity-80 cursor-pointer"
  >Go Backward</a
>

<%- include('../components/navbar', {loggedIn: true}) %>
<div class="container flex justify-center items-center h-auto py-4 w-full">
  <form method="POST" action="/">
    <label for="cookieName">Cookie Name:</label>
    <input type="text" id="cookieName" name="cookieName">
    <br>
    <label for="cookieValue">Cookie Value:</label>
    <input type="text" id="cookieValue" name="cookieValue">
    <br>
    <button type="submit">Set Cookie</button>
</form>
</div>